<div class="navbar">
  <div class="container">
    <div class="container__inner">
      <div class="logo">
         <img src="assets/images/icon_white.png" alt="icon">
      </div>
      <div class="company-name">
          <h1>fruits-kz</h1>
      </div>
    </div>
  </div>
</div>
