<div class="cart">
    <ul class="products" *ngFor="let product of products">
        <li *ngIf="product.count">
            {{product.name}}
            {{product.count}}
        </li>
    </ul>

    <div class="totalPrice">
        <h2>{{ getTotalPrice() }}₸</h2>
    </div>
    <div class="buyButton">
        <button type="submit" (click)="showAlert()">
            Buy
        </button>
    </div>
</div>
