# vault-config.hcl.j2

storage "file" {
  path = "{{ vault_data_path }}"
}

listener "tcp" {
  address     = "{{ vault_listener_address }}"
  tls_disable = 1
}

ui = true

api_addr = "http://{{ ansible_fqdn }}:8200"
cluster_addr = "http://{{ ansible_fqdn }}:8201"
